* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body{
    background-image: url("image/polution.png");
}

section h1{
    background-color: #78809e;
    text-align: center;
    height: 200px;
   line-height: 200px;
   font-family: inherit;
}

#mainImageTwo{
     width: 400px;
    object-fit: cover;
   height: 500px;
   padding: 40px 0 40px 200px;
}

.container{
   display: flex;
   flex-direction: row;
}

p{
    color:  white;
    font-size: 40px;
    width: 400px;
    height: 500px;
    padding-left: 120px;
    padding-top: 190px;
    line-height: 60px;
    font-family: cursive;
}

nav h2{
    margin: auto;
}

html{
    list-style: none;
}

nav{
    position: sticky;
    background-color: #0f1014;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

nav i{
    display: flex;
    margin: 10px 10px;
    color: white;
}

nav h2{
    margin: auto;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav a{
    margin: 0px 20px;
    color: white;
}

.imageThree{
  width: 400px;
  object-fit: cover;
  height: 500px;
  padding: 40px 0 40px 200px;
}

.imageFour{
  width: 500px;
  object-fit: fill;
  height: 500px;
  padding: 40px 0 40px 200px;
}

footer{
    background-color: #0f1014;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-box{
    margin: 10px 0px 10px 70px;
    display: flex;

}

.terms-contact{
     display: flex;
     align-items: center;
    
}

footer a{
    margin: 0px 20px;
}

li a{
    color: white;
}

@media only screen and (max-width: 705px) {
    
    nav{
        flex-direction: column;
        align-items: center;
    
    }
    
    h1{
        justify-content: center;
    }
    
}

@media only screen and (max-width: 940px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    footer{
        flex-direction: column;
        align-items: center;
        
    }
    
    p{
        padding-left: 0;
    }
    
    .imageFour{
        width: 350px;
        height: 350px;
    }
}
