h1{
    background-color: grey;
    text-align: center;
    height: 100px;
}
.box1{
    background-color: grey;
    height: 300px;
    width: 200px;
}
.box2{
    position: absolute;
    top:122px;
    right:1000px;
    background-color: red;
    height: 300px;
    width: 100px;
    margin: 20px;
    
}